.header-container {
  height: auto;
  background-color: #282c34;
  color: white;
  display: block;
  align-items: center;
  }
.header {
    max-width: 1200px;
    margin: auto;    
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .header h1 {
    margin: 0;
    font-size: 2rem;
  }
  
  .header nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
  }
  
  .header nav ul li {
    display: inline;
  }
  
  .header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  
  .header nav ul li a:hover {
    text-decoration: underline;
  }
  .header-logo{
    width: 200px;
    height: auto;
    filter: invert(100%);
  }
  img{
    width: 100%;
    height: auto;
  }